# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/inkspire"

# Redis
REDIS_URL="redis://localhost:6379"

# API
PORT=4000
WEB_URL="http://localhost:3000"
API_URL="http://localhost:4000"

# Auth
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:3000"

# Uploadthing
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""

# Meilisearch
MEILISEARCH_HOST="http://localhost:7700"
MEILISEARCH_API_KEY=""
